@use "sass:color";
@use './variables' as vars;

#forgot-password-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background: vars.$secondary;
  color: rgb(153, 135, 135);
  border-radius: vars.$radius;
  box-shadow: vars.$shadow;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: vars.$accent;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
      padding: 10px;
      border: none;
      border-radius: 5px;
      outline: none;
    }

    button {
      background-color: vars.$accent;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: vars.$transition;

      &:hover {
        background-color: color.adjust(vars.$accent, $lightness : -10%);
      }
    }
  }

  .back-link {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: rgb(153, 135, 135);
    text-decoration: none;
    transition: vars.$transition;

    &:hover {
      color: color.adjust(rgb(23, 22, 22), $lightness : 30%);
    }
  }
}
